################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/src/ConsoleApplication5/ConsoleApplication5/f.mp4
/src/ConsoleApplication5/ConsoleApplication5/vid_input.mp4
/src/ConsoleApplication5/ConsoleApplication5/vid_output.mp4
